.btn-primary {
  border-color: #395f6b;
  background-color: #395f6b;
}

.btn-primary:hover {
  background-color: #2e4f59;
}

.btn-primary:enabled {
  background-color: #2e4f59;
}
.btn-danger {
  background-color: red !important;
  border-color: #acacac;
}

.btn-danger:hover {
  background-color: #afafaf;
  border-color: #d8dbe3;
  color: #34364a;
}

.btn-danger:focus {
  border-color: #d8dbe3;
  background-color: #d8dbe3;
}
.btn-light {
  background-color: #fff;
  border-color: #e5e9f2;
  color: #34364a;
}
/* * {
  width: 100%;
  height: auto;
} */
body {
  font-family: "Lora", serif;
  background: url(img/bg-intro.png);
  background-size: cover;
  /* width: 100%; */
  height: auto;
}
/* navbar */
.navbar {
  position: relative;
  z-index: 2;
  /* margin-bottom: 0; */
}

.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}

/* jumbotron */
.jumbotron {
  background-image: url(img/wedding.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  text-align: center;
  position: relative;
  margin-top: 20px !important;
}
.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 200px;
  /* font-size: 70px !important; */
  font-weight: 500;
  font-family: "Lora", serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron .display-4 span {
  font-weight: 700;
  font-family: "Explora", cursive;
  font-size: 100px;
}
.jumbotron .display-4 p {
  font-size: 20px;
  margin-top: 5px;
}

p {
  color: #acacac;
}
/* intro */
#intro {
  margin-top: 60px;
}

#intro h2 {
  color: #34364a;
  font-weight: 600;

  font-size: 40px;
  font-family: "Explora", cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
#intro h1 {
  color: #34364a;
  font-weight: 900;
  margin-top: 25px;
}
#intro .pembukaan .bi {
  font-size: 35px;
  color: red;
}
#intro .pembukaan h4 {
  margin-top: 40px;
  color: #34364a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
#intro .pembukaan p {
  /* text-align: right; */
  padding: 10px 10px;
  font-size: 15px;

  line-height: 25px;
  font-weight: 300;
}

#intro .pembukaan span {
  text-align: center;
  display: block;
}
.akad h4 {
  font-size: 24px;
  color: #2e4f59;
  font-weight: 700;
}
.akad h3 {
  font-size: 27px;
  color: #2e4f59;
  font-weight: 700;
}
.akad p {
  font-size: 15px;
  font-weight: 500;
}

.hitung-mundur h4 {
  padding: 15px 20px;
  border-radius: 24px;
  color: #fff;
  margin-top: 20px;
  font-size: 30px;
  background-color: #395f6b;
}

/* lokasi*/
#lokasi {
  margin-top: 60px;
}

#lokasi h2 {
  color: #34364a;
  font-weight: 600;
  font-size: 40px;
  font-family: "Explora", cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

#lokasi h3 {
  font-size: 22px;
  color: #34364a;
  font-weight: 900;
}

/* footer */
footer {
  padding: 50px;
  background: #34364a;
}
footer p {
  color: #acacac;
  font-size: 16px;
  text-align: center;
}

/* utulity */
